Backup_2026-03-12/Spanish Notes to Vocabulary.json
{
  "updatedAt": "2026-01-16T03:40:50.718Z",
  "createdAt": "2026-01-13T13:07:06.654Z",
  "id": "_sOqvjVnBk4Na4c1DPXos",
  "name": "Spanish Notes to Vocabulary",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "spanish_notes",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        96
      ],
      "id": "22c039b7-ce7c-4ae1-90d2-9f0156487868",
      "name": "Webhook",
      "webhookId": "de586e21-d97a-44db-a95c-542b5edec057"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Look at my audio transcript from my spanish class and generate flashcards for me to study. \nYou are a helpful assistant that helps me create \"words\" flashcards from this transcript. Please create flashcards in the following format: \n\n- Spanish word or phrase \n- English translation \n- Meaning or usage in a sentence\n\n-------\n\nMake sure you understand the context of the transcript to create relevant flashcards. \nExample:\nlista could mean \"list\" in English, but in the context of \"estar lista\" it means \"to be ready\". So you need to understand the context to create accurate flashcards.\n\n------\n\nExample transcript:\n\" Mi hermana se llama Sarah y yo, Luis. Nosotros vivimos en una casa grande. A Sarah le gusta leer libros y a mí me gusta jugar al fútbol. \"\n\nFlashcards:\n1. Spanish: hermana\n   English: sister\n   Usage: Mi hermana se llama Sarah. (My sister's name is Sarah.)\n\n2. Spanish: vivir\n   English: to live\n   Usage: Nosotros vivimos en una casa grande. (We live in a big house.)\n\n----------------------------------\n\nTranscript:\n\n {{ $json.transcript }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant that helps create flashcards for studying Spanish vocabulary based on audio transcripts.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        304,
        -336
      ],
      "id": "6ddb2689-f5fc-4c77-a322-f63a39408f2e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        304,
        -128
      ],
      "id": "6442bbc1-bdae-4543-9a21-a2f81e058a66",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WnKpEAlRef7JXEVa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        176,
        96
      ],
      "id": "a801ad9c-e200-4ad1-907b-ad60659f9db3",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "WnKpEAlRef7JXEVa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"output\": [{\n\t\"spanish\": \"familia\",\n    \"english\": \"family\",\n  \"usage\": \"Mi familia no es muy grande.(My family isn't very big.)\"\n  }]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        448,
        -128
      ],
      "id": "a79ca5d6-b511-466f-8596-79e0eec4a8cb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be55e5c1-4ac0-4390-8d44-5c5c61bad509",
              "name": "transcript",
              "value": "Hola, Ana. ¿Cómo estás? Muy bien. ¿Y tú? Estoy muy bien de viernes, finalmente. ¿Finalmente? ¿Este viernes? Para mí, para ti, jueves. Para mí, mañana es trabajar en oficina. Trabajar en oficina. ¿A qué hora vas a trabajar? Durche? Durches? Durche? Durcho? Forgot the word. Levanto a las siete. 7 media. Salgo a las 8. ¿Y vuelves? ¿Vuelvo? ¿Vuelvo? Tal vez 6 o 7, 8 o 8. ¿Y el desayuno? ¿A qué hora? Desayuno a las once. o 10 en la oficina en la oficina sí sí pues para mí está bien hoy Solo era porque puse, I put too many classes today. I don't know why. But I... ¿Por qué no clase hoy? Porque hoy es special agendé too many clases muchas clases so I was at the end saturated saturada pero Yo no pude reschedular Sí, está bien I could reschedule another one's lessons So it's okay And in the morning, in my morning, it's more... Viernes, sábado y domingo. ¿No clase en domingo? No. Sí. Solo una mañana. sábado por la mañana, una clase, una clase, sí, y bueno, ¿qué planes tienes para el fin de semana?  Rishabh Saha / Ana Isabel Barreno - Reunión de 50 min @Hoy 9:30  4  \ffin de semana fin de semana que planes Deseo viajar a Perú. ¡Gracias! mañana, o sea, on the weekend, el fin de semana. So no research. ¿Cómo haces tu investigación antes de viajar? ¿Cómo haces? ¿Cómo haces tu investigación antes de viajar? Adiós. Adiós. ¿Cuándo es el mejor tiempo para visitar Perú? ¿Cuándo es el mejor tiempo para hacer senderismo? Hacer senderismo y cuál es mejor senderismo? ¿Dónde es mejor? ¿Dónde es mejor hacer senderismo? No, ¿qué es lo mejor? ¿Cuál? Es mejor senderismo en Perú, en Ajusco. Ajá, el mejor lugar. El mejor lugar, sí. Pero ya, that's it. Y también mi schedule de maestro. ¿Horario de maestro? ¿Qué significa? Mi maestro, Research Submission, mi maestro cual es... para mi proyectos, tesis, calls, weekly submissions, etc. Entonces, es un fin de semana para organización. Sí. Organización. Sí, de plan. Organización, Sí, sí, right? Sí. Sí. Perú. Sí, si es posible si es posible claro, es verdad ¿y tu calendario de vacaciones? ¿Cómo funciona tu calendario de vacaciones? ¿De vacaciones? ¿Cuándo tienes vacaciones? ¿Cuándo tienes? ¿Cuándo tienes vacaciones? Depende, después de mi investigación, yo sé. Yo entiendo. Entiendo, yo entiendo. Claro, pero ¿tú decides cuándo son tus vacaciones? ¿Decides? Sí, you decide cuándo son tus vacaciones. Sí. Yo decidar. Yo decidir. Ah, entiendo. Muy bien. Of course. Por supuesto. Bueno. Bien. pensé que tú tú la empresa dice cuando tienes vacaciones Cuando tienes vacaciones. Sí, dije que la compañía dice cuando tú tienes vacaciones. No, la compañía no. Compañino de sí, dices, es mi decisión. Wow, super. Bueno, sí. Por supuesto. Y hoy vamos a continuar practicando con el indefinido noción. Sí. Sí. Yo empecé noción. Finalmente. Now with the because el calendario es the notion donde we schedule our lessons Tiene la opción de add the notes with IA. It automatically notes. Si, Ida asked me if I wanted to start recording at the moment that the lessons start. Ahora tienes diferentes oraciones que necesitas completar. con el verbo en pretérito indefinido ¿Sí? ¿Este en tango? Ah, no Oh, pero podemos ponerlo  Rishabh Saha / Ana Isabel Barreno - Reunión de 50 min @Hoy 9:30  5  \fNo, está bien. Puedo responder. Podemos borrarlo, así que practicarás mejor. Así que he reducido mi resolución de mi cámara hoy. así que no laguea creo que también estaba a mi lado no, no, no, está a mi lado porque antes de unirse a la llamada Ah, me dejé la cámara encendida. A medida que la encendí, mi computadora empezó a bajar. Oh, entiendo. Es verdad. En mi caso, creo que también ayer, yo tenía un VPN activado todo el día. Abre muchas tabs en Google Chrome. Windows. Bien. 20? wow, pobre computadora Pobre. Pobre computadora. Estaba trabajando mucho. Sí, sí, sí. Sí, decidir fue. No computadora para después mi trabajar, entonces yo mirando un serie. dos episodios de serie. ¿Qué serie estás mirando? Se llama... Lentes, caballos, pero en inglés. Lentes? No, no, no, lentes. How do you say slow? Lento Lento Caballos Caballos Sí, slow horses. Wow, es como de suspenso. Sí, suspenso es trelar. ¿La recomiendas? No. ¿No? ¿Por qué? Es más o menos. Entiendo. Sí, pero vas a terminar esa serie. Sí. OK. Entiendo. En esta actividad, you have to close. Una es yo diciéndote el verbo o el verbo si no lo sabes y la otra es yo escribiendo la respuesta correcta. Ok, intentemos. Vamos a intentar. Blas de Lezo. Una persona. Oh, Blas de Lezo. ¡Ajá!  No. Edad es Hace no, I don't know. I will tell you in infinitive. Es nacer. ¿Primero escuchas? No, no lo he escuchado antes. Está bien, nacer, how do you type nacer? N-A-C-E-R. Sí, and how is it in the past? Blas de Lezo Naciste Naciste para tu ¿Nacimos Español? ¿Nacen? nació. Nació. Sí, con acento. Bueno, ¿cómo podemos una marca aquí? Ah, mira, aquí podemos dibujar. Creo que es muy grande, ¿no? Es muy grande. Nacio. Nacio, sí. Blast Lesser, born in 1000... no, no sé cómo se dice, 1689 creo. Now, ¿cuándo tú naciste? Richard. Yo nací en... ... ... ...  mil novecientos And then ninety-nine. Como es ninety-nine. Novecientos noventa y cinco. Sí, correcto. Sí. So, no un mil. No un mil. Mil. Just mil. Mil. For two thousand, dos mil. Dos mil. Sí. Pero para 1000, no lo  Rishabh Saha / Ana Isabel Barreno - Reunión de 50 min @Hoy 9:30  6  \fnecesitamos. Solo la leche. ¿Tú naciste cuándo? Yo nací... en dos mil soy millenial, ¿es millenial? Gen Z ¿Cómo es nuestra personalidad? ¿Divertido? A veces soy aburrida, también Sí, pero tú también pareces de 1998 Then, siguiente. Luis y Fátima todo la noche Sin parar. Toda la noche Without Parar. Without Stop. Hacen algo? Toda la noche? Lui y Fatima hablan toda la noche sin parar hablan es en presente presente como ellos en pasado ¿Hablen? ¿Hablen? No. Ellos hablaron. Vamos a ver, ellos hablaron. ¿Quieres la tabla? ¿Estás viendo desde la pared de combate o aquí en la pantalla? Ambos. Ambos. Ambos. Ambos. Vea la tabla en la pantalla y aquí podemos escribir Y Emily, el preterito indefinido en clase de español. Oh, aprender, apren... Oh, la tabla, la tabla. Aquí está. Aprender, aprendieron. Aprendieron, sí. So, right now, without spoilers, here's the table. Ok, let me just look at it once. Ok, once there is the O. Oh, pero todavía puedes usar el tablero, solo no el spoiler de lo que es el verbo detrás. Oh, ok, ok. No puedo verlo de todos modos. Can you move your cursor? Anoche tu muy tarde. Anoche... Anoche es last night. You were fui. Fui es fuíaste? Fuiste, fuiste, pero estamos en los verbos regulares. So that one is irregular. So it should be another one. ¿Hacer? También Hiciste muy tarde No tiene mucho sentido la oración Pero querían decir que se fue a dormir tarde. Oh, pensé que... Anoche dormiste. Dormir. Dormiste. Dormiste. Dormiste muy tarde ¿Dormiste muy tarde? ¿Ayer? Ayer un libro de Benito Pérez Calós. Ayer leer. Leo, pero li. Casi. Recuerda que es Lee, Lee, Lee. Leí. Leí. Sí, suena más fuerte en la i. Some more strong here. Lei. Lei. Muy bien.  Rishabh Saha / Ana Isabel Barreno - Reunión de 50 min @Hoy 9:30  7  \fsiguiente el otro día El otro día nosotros con nuestros padres por teléfono. El otro día nosotros hablamos. Exacto. Además, el viernes, mi novio y yo en una comida. comiando comiaron comieron y yo somos el viernes, mi novio y yo Ah, eso es, comimos. Comimos, exacto. comimos en un restaurante italiano el fin de semana semana pasado vosotros demasiada Bebisteis. Ahora sí la tabla. Vamos a compartir la pantalla de Canva. Ahora, la siguiente con Notabla. Notabla? No. Just if you need it. Yo en Alemania pasé seis años. Vivi. Vivi. Exacto. Vivi. Y con acento, también. Tu a la abuela ayer por la tarde. ¡Gracias por ver el vídeo! ¿Cuál opción es? ¿Ayer? ¿Qué es ayer? Yesterday. ¿O the late? Oh, in the evening. ¿Por la tarde? No. No, por la tarde. In the evening. Por la mañana, por la noche. In the morning, in the evening, in the night. por la noche ¿Quién es la abuela? ¿Abuela es la abuela? Sí Como tú y tu abuela ayer, ayer por la noche, por la noche. Aquí no menciona a yo. No, menciona. Dice, you, you and. You a la, a la, oh. Sí, they are asking if this person was a ¿Hiciste algo la abuela ayer comió? ¿Conoces? ¿Conoces? ¿Conoces? ¿Conoces? ¿Quieres hacer una reunión? ¿Sí? Sí pero, vemos, sí, podría ser, yes, es el verbo ver, ver Entonces, ¿cómo sería tú? ¿Viviste? ¿Viviste? Viviste es vivir. Ver. Vemos... Ver...  si termina en er vi vi vi no veri ¿Me veriste? para la segunda persona tú viste viste viste viste viste viste viste viste viste viste viste Viste es to see. Exacto. Sí, es correcto. Es asqueroso. la abuela, ayer en la tarde viste? viste, si, muy bien, viste Mi jefe me saluda. My boss sends me an email yesterday night, last por la noche. Sends me. Sends is. ¿Dar?  Rishabh Saha / Ana Isabel Barreno - Reunión de 50 min @Hoy 9:30  8  \fDar es give, ¿verdad? ¿Send es pasar? No, send puede ser enviar. enviar. Enviar. Si, enviar. ¿Ti habas activado subtítulos? I have not. Ah, pues vamos a copiar aquí, enviar Enviar, ok, vamos a enviarlo NVR es para enviar R, así que Mi Jefe envía a mí. Enví. Enví. It's for Joe. Bueno, no tan Joe, but él. He sent me. So, él. Conjugación for él, ella o usted. This conjugation for third person singular. ¿Enhuaste? Oh, enhuaste is second person. L O L O L N V R Enviar, enviar, envió, envió, sí, envió. en el ojo. ¿Dónde tiene acento? ¿Dónde tiene acento? O. O, exacto.  Vamos a poner el acento con... El dibujo, ¿no? Wow, you learned it. Sí, sí. Muy bien, pues perfecto. Enviar es to send. Ok. Mi familia Australia. Moved to Australia in 1970. Moved. Yeah, was it? But it's moved. How do you say moved?  I don't know. No sé. ¿Puede ser viajar? As you say. The phrase has a sense. Without verb. Ok. Viajar es mi familia. Viajar. Vivamos. Vivamos. Viajamos Yo es mi familia. Oh, so it's them. Them. Singular. ¿Singular? ¿Dem? ¿Singular? ¿How come? Mi familia, we are hereon, but you said it's singular. Sí. Weeho, weeho. Viajó. Viajó. Australia. Australia. Viajo. Mi familia y Rishav viajaron de Oh, sí. O mi familia y yo, nosotros viajamos a Australia. Viajamos. ¿Sí? Ok. Luego. Uf. Ellos. Just for practice. Sí. Ellos. Mucha. Turon en Navidad. Ellos comieron mucho. ¿Te acuerdas de qué es turrón? Es dulce. Sí, muy dulce. como almendras y frutos secos, almonds I found out one of my favorite desserts today. It's called as Sejama is frangipane. ¿Cómo se escribe? El vío? Ví en una café. ¿Puedes escribir el nombre? Frenchy Ben Let me type it down Sounds like French Es francés? Sí imágenes. ¡Wow! ¿Es de manzana? No, no, no. No sé, es... ¿almonds? Frangipane. Es una French Toast.  Rishabh Saha / Ana Isabel Barreno - Reunión de 50 min @Hoy 9:30  9  \fcrema dulce de almendras No, no, no, no, no, no. frangipane french toast ahh como tostada francesa tostada francesa tostada francesa es muy fácil de cocinar Es fácil de cocinar Tampoco Looking for an accurate photo to show me Let me see French Tiene almendras en él, pero... Lo encontraré y lo enviaré a ti. Necesito ver. Ahora soy fan de dulces. Y ahora soy fan de dulces. Es no mucho dulce, es poquito dulce. Poquito dulce. con café es mejor No, es más o menos. Café es más o menos, pero esta comida es mejor. Ah, postre. Postre. Dessert. Postre o dulce, también. Postre o dulce. Then the last one. Mi madre, su último cuadro en enero. The last, or the final, sangro, cuadro, cuadro is room, right? No, it's cama. No, es... Painting ¿Painting? Cuadro, por ejemplo, ¿cómo es? ¿Es esto? Ah, ok. Cuadro es painting Ok. Mi madre... sold sold her last painting in January. Bot. Poder ser bode. Poder ser bode. Poder ser paint. puede ser painted Comprar, el algoritmo comprar. Comprar es... Uf, again. So muy difficult. Comprío. Comprío. Comprío. That ends with R. That ends with IO, R, just ER and IR. IR. Sí. Compró. Compró. Mm-hmm. ¿Copro? Sí, correcto. Just to remember this table, I'm gonna die. No worries, you will survive. Vas a sobrevivir. You will survive. Just practicing each verb. Cada verbo también. Y muy buen trabajo. Ahora creo que necesitamos una práctica extra. A ver... Ok. lo que vamos a hacer es jugar el siguiente juego a ver... You're gonna tell me where to put... Which one do you want? ¿Quieres círculo o...? equis equis equis ok you go first tú has primero qué posición quieres uno uno? si vamos a poner aqui nacer nacer Nacer es birth. Sí, ¿cómo se conjuga nacer? En todas. En all of them. ¿Puedes repetir? ¿Cómo conjugas nacer? Nacer es naci Naci All of them? All of them, sí. Nací? Naciste? Sí. Nacemos? Nacimos. Nacimos. Nació. Nació. Ellos... Ellos es... Nacieron. Exacto. Muy bien. Nacieron. My brain hurts. Sí, no te preocupes. Ahora, mi turno, que va a ser un poquito más fácil, ¿no? Obviamente. Sí, aquí va más con la pregunta. El pasado fin de semana comí un  Rishabh Saha / Ana Isabel Barreno - Reunión de 50 min @Hoy 9:30  10  \fComí un bambao. ¿Bambao? Sí. Es un pan blanco. Es muy suave, muy suave, con carne adentro Ah, es similar un momo. Sí, es similar. Sí, me gusta. Time to time. A veces. Me gusta. A mí me gusta. Sí. ¿Listo? 1, 2, 3, 4, 5, 6, 7, 8. Ocho. ¿Dónde estás contando? Sí. Uno, dos, tres, cuatro, cinco, seis, siete, ocho. Aquí. Sí. ¿Cómo dices abajo? Abajo es... Abajo. Avajo. Avajo. Avajo. Escribir. Escribir. El otro día escribí. Escribí, escribí. Ajá, el otro día escribí. Escribí. Code. Código. Código. Sí. Para tu proyecto. Sí. What I showed you yesterday. Sí. Muy bien. Me gustó mucho tu proyecto. Sí, muchas gracias. Aprove, ahora mi turno. Vamos a poner aquí. Ayer por la tarde, visité... una cafetería nueva visita visite esta a como dos minutos caminando y tomé este café un momentito te voy a enseñar ¿Puedes verlo? porque puedo tomar muy rápido cuando es dulce el diseño es increíble sí, me gustó mucho y siempre te dan un vaso de té. Nice, simpático. Ahora es tu turno. Oh. ¿Tres? ¡Adiós! Ayer, Salir de Fiesto, left the party, left the party, go home party, go to party. Ayer salir es algo de fiesta. Estás en presente. Oh! Salir es salir. Salir. De fiesta. Ayer salí de fiesta. más habilidades, desarrollando más habilidades. Lo sabrás. Sólo recordando esa mesa me duele el cerebro, en realidad. Sí, es verdad. Ahora, ahí va el círculo, ¿no? Sí. Sí, aquí, definitivamente. No recuerdo. Ah, okay. It's a combination. Okay. En dos mil diecisiete viví en Perú. en las montañas. Oh, I wish. Ojalá. ¿Cómo dices I wish en español? Ojalá. ¿Recuerdas? Ojalá Ojalá es como la forma coloquial pero normalmente podría ser como Desearía Te salía, ok. Luego, ¿dónde quieres poner tu siguiente? Cuatro. Cuatro. There is no 1, 2, 3, 4, 5, 6 6, aquí Sí Bailar. Bailar es Bailé. El sábado bailé con mi amiga. Muy bien. ¿Todo esto? Desearía. Desearía. Desearía. Desearía. Sí. Hay clases de de bachata, salsa. Sí, sí, sí. Yo quiero, pero después mi maestro, después mi visitar un día después de noviembre después de noviembre estás muy es muy tu horario está como todo ocupado Sí. Sí, ya veo. Pues. Puedes empezar con eso también. La semana pasada hablé mucho español con mis estudiantes. Sí, es muy bien para mí hablar español. Prefiero esto. Es muy fácil para ti. Sí, es muy fácil, pero también mucho tiempo hablando inglés o hablando...  Rishabh Saha / Ana Isabel Barreno - Reunión de 50 min @Hoy 9:30  11  \fNo, inglés más que todo. Pero, dice aburrido. Sí. Inglés es aburrido. Yo agrí. ¿De acuerdo con esto? ¿De acuerdo? Agree es de acuerdo. De acuerdo. ¿Sabes? Todo lo que dices va a ir a esa noción y todo va a ser publicado. Espero que todo llegue a las palabras En los flashcards Si, yo lo dejé todo porque hasta ahora las notas han funcionado muy bien. Sí, sí. Veamos. ¿Por qué son más que lo que necesitamos? Es verdad. Es verdad. Viajar. Viaje. Les semana pasada viaje a... Japón Muy bien ¿Cómo sabes el nombre en español? ¿Japón? Sí Sí, muy bien La semana pasada viajé. Japón. Muy bien, sí, bravo, perfecto. ¿Tienes algún viaje? Pero no este año. Tal vez... Si mis amigos deciden, tal vez. entonces tal vez. Entiendo, sí. Mejor viajar en grupo por transporte, compañía Oh, viaja, viajo, viajo, viajo, viajo. Montreal en hebrew. Montreal. Montreal. ¿Es en Canadá? en Canadá, pero es pagar por la compañía La compañía paga Sí. ¿Y por qué vas a Monterreal? ¿Es como un curso o seminario? No. es como vacaciones entonces poquito vacaciones super ese durante Easter en abril, si, abril es en easter no? o easter es en abril, ah ok, creo, creo, porque es de... de bueno es un momentito 2026 semana santa Sí, es de 2 de abril, 3 de abril, 4 de abril y 5 de abril. Visitar en 26 de abril. Ah, ok, entonces no es en Easter. Pues, qué bueno. ¿En abril hace frío? Es poquito frío. Tal vez frío. ¿Pero has visitado esta ciudad? ¿Antes? ¿Antes? Sí Sí Muchos cosas Muchos ¿10 tiempos? muchas veces many times muchas veces pues en abril vas a tener un viaje muy bueno y por el momento buena suerte planeando tu bueno buscando para tu viaje para Perú Muchas gracias. De nada. Y disfruta tu fin de semana también. Y tú también. Sí, y voy a enviarte la tarea, por supuesto, para el fin de semana y nos vemos... Oh, no tenemos clases programadas Schedule classes, no tenemos ¿Lo tenemos? No ¿Quieres el mismo misma hora, same time? Sí, pero en ¿Jueves? ¿Miércoles? Miércoles. Miércoles es nieve y media. nueve y media nueve y media nueve y media let me see miércoles y jueves Por el momento solo tengo a las 10. Pero a veces la persona cancela la hora que quieres, así que te dejaré saber si es abierta. Probablemente sea como el 80% de probabilidad que se abrirá a las nueve y media. Pues, nos vemos. Nos vemos, Ana. Muchas gracias para hoy.  Rishabh Saha / Ana Isabel Barreno - Reunión de 50 min @Hoy 9:30  12  \fEnvías? No, no, envías, no, no, no. Upload it. Upload it. How do I say upload it? Ah, sí, the link. Dónde está el link? ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -336
      ],
      "id": "0e27f62a-883f-4450-b45b-0daea71ec5ff",
      "name": "Copy/Paste Transcript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1i0N9SQZZqXv-xD_YRkfGTLr9s6lbjiyZqyem5nc8dMg",
          "mode": "list",
          "cachedResultName": "Spanish Vocabulary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i0N9SQZZqXv-xD_YRkfGTLr9s6lbjiyZqyem5nc8dMg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 950039728,
          "mode": "list",
          "cachedResultName": "Spanish Vocabulary - Vocabulary_CLEANED_GROUPED",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i0N9SQZZqXv-xD_YRkfGTLr9s6lbjiyZqyem5nc8dMg/edit#gid=950039728"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "group": "={{ $json.group }}",
            "difficulty": "={{ $json.difficulty }}",
            "difficulty_score": "={{ $json.difficulty_score }}",
            "spanish": "={{ $json.spanish }}",
            "english": "={{ $json.english }}",
            "usage": "={{ $json.usage }}",
            "learned": "0"
          },
          "matchingColumns": [
            "spanish"
          ],
          "schema": [
            {
              "id": "group",
              "displayName": "group",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "difficulty",
              "displayName": "difficulty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "difficulty_score",
              "displayName": "difficulty_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "spanish",
              "displayName": "spanish",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "english",
              "displayName": "english",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "usage",
              "displayName": "usage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "known",
              "displayName": "known",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "learned",
              "displayName": "learned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        48
      ],
      "id": "b875bcc2-94ad-4641-8929-5eb26f39c024",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RAsnDxfXve6rzTvR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1568,
        48
      ],
      "id": "360fe1ee-6934-4133-812a-d77c18ef7912",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Transcribe_pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        160,
        624
      ],
      "id": "1d8423b7-f111-4450-8ce6-a0fedaee097a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "formTitle": "File Upload",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Transcribe pdf",
              "fieldType": "file",
              "acceptFileTypes": ".pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -48,
        624
      ],
      "id": "655bb8e4-c65c-4a23-a501-0015ff789760",
      "name": "On form submission",
      "webhookId": "17a703a0-0d45-4903-82f0-129322f4a29d"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Look at my Spanish class notes from Notion. Notion was able to transcribe my spanish learning class and help me summarize it for me. You are a helpful assistant that helps me create \"words\" flashcards from my notes. Please create flashcards in the following format:\n\n- Spanish word or phrase \n- English translation \n- Meaning or usage in a sentence\n\n-------\n\nMake sure you understand the context of the notes to create relevant flashcards. \nExample:\nlista could mean \"list\" in English, but in the context of \"estar lista\" it means \"to be ready\". So you need to understand the context to create accurate flashcards.\nMake sure to only use spanish words or phrases that are in the notes provided.\n\n------\n\nExample notes:\n\" Mi hermana se llama Sarah y yo, Luis. Nosotros vivimos en una casa grande. A Sarah le gusta leer libros y a mí me gusta jugar al fútbol. \"\n\nFlashcards:\n1. Spanish: hermana\n   English: sister\n   Usage: Mi hermana se llama Sarah. (My sister's name is Sarah.)\n\n2. Spanish: vivir\n   English: to live\n   Usage: Nosotros vivimos en una casa grande. (We live in a big house.)\n\n----------------------------------\n\nNotes:\n{{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant that helps create flashcards for studying Spanish vocabulary based on Notion Notes\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        336,
        624
      ],
      "id": "80c7970a-dc67-43a1-8289-0699340c4ab6",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        336,
        848
      ],
      "id": "5550cf9b-8df0-467c-b68d-7a4a4a82e491",
      "name": "OpenAI Chat Model1",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "openAiApi": {
          "id": "WnKpEAlRef7JXEVa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"output\": [{\n\t\"spanish\": \"familia\",\n    \"english\": \"family\",\n  \"usage\": \"Mi familia no es muy grande.(My family isn't very big.)\"\n  }]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        480,
        848
      ],
      "id": "cf8a4b5e-3262-4b44-832c-68b929c84764",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yYmaqYw2mLcEEmbm",
          "mode": "list",
          "cachedResultUrl": "/workflow/yYmaqYw2mLcEEmbm",
          "cachedResultName": "Telegram subworkflow message"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $json.count_spanish }} New words have been added. Check them out at https://spanish-word-buddy.vercel.app/"
          },
          "matchingColumns": [
            "text"
          ],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2288,
        48
      ],
      "id": "0b216626-7978-4ef1-b6b1-4cbfa895a764",
      "name": "Inform me on Telegram"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Look at my audio transcript from my spanish class and generate flashcards for me to study. \nYou are a helpful assistant that helps me create \"words\" flashcards from this transcript. Please create flashcards in the following format: \n\n- Spanish word or phrase \n- English translation \n- Meaning or usage in a sentence\n\n-------\n\nMake sure you understand the context of the transcript to create relevant flashcards. \nExample:\nlista could mean \"list\" in English, but in the context of \"estar lista\" it means \"to be ready\". So you need to understand the context to create accurate flashcards.\n\n------\n\nExample transcript:\n\" Mi hermana se llama Sarah y yo, Luis. Nosotros vivimos en una casa grande. A Sarah le gusta leer libros y a mí me gusta jugar al fútbol. \"\n\nFlashcards:\n1. Spanish: hermana\n   English: sister\n   Usage: Mi hermana se llama Sarah. (My sister's name is Sarah.)\n\n2. Spanish: vivir\n   English: to live\n   Usage: Nosotros vivimos en una casa grande. (We live in a big house.)\n\n----------------------------------\n\nTranscript:\n\n {{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant that helps create flashcards for studying Spanish vocabulary based on audio transcripts.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        352,
        96
      ],
      "id": "c765d5a1-cc68-4bb2-b0a1-b1e42fd19f72",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        352,
        304
      ],
      "id": "c07d5b0d-e14d-4858-a443-a061cb44362e",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "WnKpEAlRef7JXEVa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"output\": [{\n\t\"spanish\": \"familia\",\n    \"english\": \"family\",\n  \"usage\": \"Mi familia no es muy grande.(My family isn't very big.)\"\n  }]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        512,
        304
      ],
      "id": "d3d90d6d-dd9f-4c81-a50b-149c57624b19",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "content": "## Upload Transcript\n** Copy paste the transcript you already have",
        "height": 416,
        "width": 736
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        -416
      ],
      "id": "71e8b47e-1e92-42e5-86bd-38b720e08c36",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Upload Audio File\n",
        "height": 400,
        "width": 736,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        32
      ],
      "id": "afce976c-e39a-4638-9214-47991f7692fd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Upload Notion pdf\n** Mostly used by Ana",
        "height": 432,
        "width": 736,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        544
      ],
      "id": "40177dd3-99fe-4b65-98b4-f769e61c4ee1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "spanish"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        2048,
        48
      ],
      "id": "907d2508-341d-4def-a56e-83c8cf925cea",
      "name": "Summarize"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=We have a list of Spanish words and phrases with their English translations and usage examples. \nIt contains columns like: \nspanish: actual spanish word/phrase, \nenglish: definition of the spanish word/phrase, \nusage: usage of the spanish word in a sentence, \n\n\nClean and optimize this list automatically:\n\n1. Remove duplicates\n- Treat duplicates as same Spanish term after normalization (trim spaces, lowercase, ignore accents, ignore punctuation like ¿ ? ! . ,).\n- If duplicates exist, keep the best row using these rules:\n    - Prefer rows with longer/more complete usage\n    - Set known = TRUE if any duplicate has known = TRUE\n    - Set learned to the sum of duplicates’ learned values\n\n2. Remove very common words\nRemove entries whose Spanish term (after normalization) matches any of these (including accentless versions):\nhola, gracias, adios, por favor, buenos dias, buenas noches, lo siento, salud, de nada, si, no, amigo, amiga, familia, comida, agua, casa, escuela, trabajo, dinero, tiempo, día/dia, noche, hombre, mujer, niño, niña, perro, gato\n\n3. Keep English translations in usage\n- Do NOT remove parenthetical English translations from the usage field.\n\n4. Add learning structure\nCreate these new columns:\n- group (category) using keyword-based grouping based on spanish/english/usage (examples: Greetings & Politeness, Time & Dates, Work & Study, People & Family, Travel & Places, Feelings & Opinions, Goals & Motivation, General/Other)\n\n- difficulty_score (number) using a transparent heuristic (longer phrases, more words, grammar connectors like que/de/por/para/aunque/porque, accents, punctuation like ¿¡ increase score)\n\n- difficulty bucketed into Easy / Medium / Hard using score percentiles (bottom 33% Easy, middle 33% Medium, top 33% Hard)\n\n-------------\n\nInput: \n\n{{ JSON.stringify($json.output) }}\n\n--------------\n\noutput:\n[\n    {\n        \"spanish\": \"\",\n        \"english\": \"\",\n        \"usage\": \"\",\n        \"group\": \"\",\n        \"difficulty_score\": \"\",\n        \"difficulty\": \"\"\n    }\n]",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1232,
        48
      ],
      "id": "9d4887b9-dcf2-466a-b410-5de195287ba0",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1200,
        256
      ],
      "id": "9db2efa0-98b3-4fc6-bfb2-b745e6801aac",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "WnKpEAlRef7JXEVa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n    {\n        \"spanish\": \"\",\n        \"english\": \"\",\n        \"usage\": \"\",\n        \"group\": \"\",\n        \"difficulty_score\": \"\",\n        \"difficulty\": \"\"\n    }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1424,
        256
      ],
      "id": "0fe92b0f-bc43-4920-9054-beae55202bfe",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        -336
      ],
      "id": "9a5ad0a4-6c9a-4e26-a1ff-a2bd58fcf2bf",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Copy/Paste Transcript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inform me on Telegram": {
      "main": [
        []
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Inform me on Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Copy/Paste Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1267824.hstgr.cloud",
            "user-agent": "BackgroundShortcutRunner/4033.0.4.3 CFNetwork/3860.100.1 Darwin/25.0.0",
            "content-length": "5506518",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "accept-language": "en-CA,en-US;q=0.9,en;q=0.8",
            "content-type": "multipart/form-data; boundary=A46B233B-A5AF-4FF6-A5FE-5896A796A82E-41079-00004F864F695766",
            "priority": "u=3",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n.srv1267824.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "870b7e067220",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://n8n.srv1267824.hstgr.cloud/webhook/spanish_notes",
          "executionMode": "production"
        },
        "binary": {
          "data": {
            "mimeType": "audio/x-m4a",
            "fileType": "audio",
            "fileExtension": "m4a",
            "data": "filesystem-v2",
            "fileName": "Apple MPEG-4 audio.m4a",
            "id": "filesystem-v2:workflows/_sOqvjVnBk4Na4c1DPXos/executions/147/binary_data/46fb2140-b29d-4a40-8976-d5094ef3915c",
            "fileSize": "5.51 MB"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "AI Agent2": [
      {
        "json": {
          "output": [
            {
              "spanish": "diversión",
              "english": "fun (noun)",
              "usage": "Diversión es como 'fun'. (Fun is 'diversión'.)"
            },
            {
              "spanish": "divertido",
              "english": "fun/entertaining (adjective)",
              "usage": "Me pareció divertido. (It seemed fun to me.)"
            },
            {
              "spanish": "trabajar",
              "english": "to work",
              "usage": "Estuve trabajando en un proyecto personal. (I was working on a personal project.)"
            },
            {
              "spanish": "proyecto personal",
              "english": "personal project",
              "usage": "Estoy trabajando en un proyecto personal. (I'm working on a personal project.)"
            },
            {
              "spanish": "portafolio",
              "english": "portfolio",
              "usage": "Voy a mostrarte mi portafolio al final de la llamada. (I'll show you my portfolio at the end of the call.)"
            },
            {
              "spanish": "currículum (CV)",
              "english": "résumé/CV",
              "usage": "También estoy actualizando mi currículum. (I'm also updating my résumé.)"
            },
            {
              "spanish": "mostrar",
              "english": "to show",
              "usage": "Aún no te lo mostré. (I haven't shown it to you yet.)"
            },
            {
              "spanish": "ayuda / ayudar",
              "english": "help / to help",
              "usage": "Necesito tu ayuda. (I need your help.)"
            },
            {
              "spanish": "cóctel",
              "english": "cocktail",
              "usage": "¿Estás tomando un cóctel? (Are you having a cocktail?)"
            },
            {
              "spanish": "decoración",
              "english": "decoration",
              "usage": "Tenemos una nueva decoración. (We have a new decoration.)"
            },
            {
              "spanish": "tienda online",
              "english": "online store",
              "usage": "Lo compré en una tienda online. (I bought it in an online store.)"
            },
            {
              "spanish": "comprar",
              "english": "to buy",
              "usage": "¿Dónde lo compraste? (Where did you buy it?)"
            },
            {
              "spanish": "conseguir",
              "english": "to get/obtain",
              "usage": "¿Dónde lo conseguiste? (Where did you get it?)"
            },
            {
              "spanish": "foto / fotos",
              "english": "photo / photos",
              "usage": "Mándame una foto al final. (Send me a photo at the end.)"
            },
            {
              "spanish": "flores",
              "english": "flowers",
              "usage": "Sí, son como flores. (Yes, they are like flowers.)"
            },
            {
              "spanish": "mucha luz",
              "english": "a lot of light / too much light",
              "usage": "Hay demasiada luz. (There is too much light.)"
            },
            {
              "spanish": "al final",
              "english": "at the end",
              "usage": "Te lo mostraré al final de la llamada. (I'll show it to you at the end of the call.)"
            },
            {
              "spanish": "quedarse",
              "english": "to stay (reflexive)",
              "usage": "Nos quedamos en casa porque llovió mucho. (We stayed at home because it rained a lot.)"
            },
            {
              "spanish": "llover",
              "english": "to rain",
              "usage": "El año pasado llovió mucho. (Last year it rained a lot.)"
            },
            {
              "spanish": "salir",
              "english": "to go out",
              "usage": "No salí porque estaba enferma. (I didn't go out because I was sick.)"
            },
            {
              "spanish": "infinitivo",
              "english": "infinitive",
              "usage": "En clase estudiamos los infinitivos: hacer, cocinar, salir. (In class we studied the infinitives: to do, to cook, to go out.)"
            },
            {
              "spanish": "hacer",
              "english": "to do / to make",
              "usage": "Hacer y cocinar son infinitivos. (To do and to cook are infinitives.)"
            },
            {
              "spanish": "cocinar",
              "english": "to cook",
              "usage": "Mi hermana cocinó todo ella sola. (My sister cooked everything by herself.)"
            },
            {
              "spanish": "poder",
              "english": "to be able to / can",
              "usage": "El año pasado no pude salir. (Last year I couldn't go out.)"
            },
            {
              "spanish": "clima",
              "english": "weather",
              "usage": "¿Cómo está el clima en Toronto estos días? (How is the weather in Toronto these days?)"
            },
            {
              "spanish": "mejor que la semana pasada",
              "english": "better than last week",
              "usage": "Hace poquito frío, pero es mejor que la semana pasada. (It's a little cold, but it's better than last week.)"
            },
            {
              "spanish": "vela",
              "english": "candle",
              "usage": "Eso es una vela. (That is a candle.)"
            },
            {
              "spanish": "vaso",
              "english": "glass / cup",
              "usage": "Pon el vaso en la mesa. (Put the glass on the table.)"
            },
            {
              "spanish": "frambuesas",
              "english": "raspberries",
              "usage": "Comimos frambuesas. (We ate raspberries.)"
            },
            {
              "spanish": "Panamá",
              "english": "Panama (country)",
              "usage": "Panamá es muy bonito. (Panama is very beautiful.)"
            }
          ]
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Transcribe a recording": [
      {
        "json": {
          "text": "Diversión es como fun. Diversión. Y tú? Divertido. Sí, es como divertido. Diversión es como un sustantivo. Por ejemplo... Diversión. Fun. En divertido es más como... Como... How it is the moment. Divertido. Ok. ¿Y tú qué tal? ¿Qué hiciste el fin de semana pasado? Trabajando... Trabajando sobre un personal proyecto. Personal proyecto. Proyecto personal. Proyecto personal. I'll show it to you at the end of the call. ¿Verdad? Sí, yo... Portafolio y también CV. Curriculum. No. ¿Sí? No, es por divertido. Ah, ok. Entonces yo no lo he visto. I didn't saw it yet. Ok, I have not shown it to you yet. I'll show it to you. Ah, ok. I thought it was your portfolio. No, no, no. This is for... Esta para mi español aprendido. ¿De verdad? ¿Cuánto sí? Quiero ver. Sí, sí, sí. At the end. ¿Termina? At the end. Al final. ¿Al final? Sí. ¿Estás tomando un coctel? No. Pero necesito... Tus... Help. Ayuda. Ayudas. ¿Cómo? ¿Cómo necesitas mi ayuda? I will know at the end. Sí. I'll tell you at the end. Ok, vale. Solo son... 50 minutos, entonces puedo esperar. I can't wait. Tenemos una nueva decoración. Espera un momento. Nice. Ahora sí. Wow. That's so nice. Panamá. Es muy bonito. Me gusta mucho. Se parece a Miami, pero es Panamá. Oh. Nice. So beautiful. Sí. You'll be somewhere behind. En alguna parte. ¿A dónde eres? No. ¿A dónde... Este... Where did you get it from? How do you say? Where did you get it from? ¿Dónde lo conseguiste? ¿O dónde lo compraste? ¿Dónde lo compraste? Lo compré en una tienda. En una tienda online. Que es como tipo Amazon. Sí. Y... Pues... Panamá sí. Muy bien, muy bien. Sí. Hay otras también. Creo que están allí. Que también puedes ver. ¿Tres fotos? Sí. Son como flores. Wow. Sí. También me gustó mucho. Es hermoso. Es muy bonito. Sí. Poquito a poquito ponemos más decoraciones. Como estas. Que es para... Pero es muy... Mucha luz. Mucha luz. Hay demasiada luz. Ah, ok. Ahora. Porque hay luz. ¿Puedes ver? No. Ok. Verás cuando vamos a tener... Mándame una foto al final. A la noche. Sí. Sí. Porque hay demasiada luz. Pero es muy bonito. Sí. Gracias. Lo veo. ¿Lo ves? Al borde del suelo, ¿verdad? Sí, sí. Bien, bien, bien. ¿Es verde? Es azul también. Azul. Sí. Azul. Ah, bien. ¿Cómo se apaga? Sí. Es volcando velas. Que también están terminando. Están casi terminando. ¿Cómo? Aquí. La selva tropical. ¿Pintaste eso? No. No. ¿Aquí? ¿Qué es eso? Es una vela. Oh, es una vela. Pensé que era una pared. Una vela. Oh, una vela. Ok. Sí. ¿Y tú estás tomando un cóctel? No. Es... Tienes que cocinar. Ah, con el vaso. Con el vaso. Con el vaso. Con el vaso. Sí. Parece un cóctel. No, no, no. Pues, vamos a empezar con la clase de hoy. Sí. Con continuación de la actividad. Sí. ¿Qué tal? ¿Puedes empezar con esta cosa? ¿Qué dices? Notación, notación, notación. Ya empecé. Bien, bien, bien. Sí. Toda la semana practicando para empezar en el momento correcto y finalmente me estoy acostumbrando a ello. Bien. Sí. Por ejemplo, ¿puedes leer el primero? ¿Leer el primero? Pero el año pasado no hice nada porque mi hermana cocinó todo ella sola. Dos infinitos, hacer, cocinar. Hacer y cocinar. Sí. Correcto. Vi. Pero el año pasado no salí porque estaba enferma. Infinitivos, salir. Salir. Exacto. No salí porque estaba enferma. Sí. Pero el año pasado llovió mucho y no quedamos adentro en casa. Sí. Hay algo que falta en este ejemplo. Creo que puedo escribir aquí. A ver. Nos quedamos en casa. Porque es el pronombre reflexivo. Sí. Nosotros nos quedamos en casa. Quedarse y llover. Llover. Sí. ¿Cómo está el clima en Canadá, Toronto, estos días? Es poquito frío, pero es mejor que la semana pasada. Mejor que la semana pasada. Mejor que la semana pasada. Sí. Qué bueno, me alegra mucho. Y luego, vi, te. Pero el año pasado no pude salir porque había mucha gente en la calle. Sí. Exacto, infinitivo. ¿Solo yo o es muy lento? Es la pantalla. Sí. Mi pantalla. Sí. Puede ser. Ok, continuemos. Infinitivo es poder. Ok. Ok. Pero... Pero el año pasado... Para probar. Ok. Ok. Transportas tiempo. Pero creo que aquí hay un poco... Creo que es mi máquina que está corriendo lentamente. Hola, hola, hola. ¿Me escuchas? ¿Me escuchas? Sí, te puedo escuchar. Hola, hola, hola. ¿Me escuchas? ¿Me escuchas? Sí, te puedo escuchar. ¿Me puedes ver? Sí, te puedo ver. No sé por qué es lento hoy. Ok, continuemos. Pero el año pasado nadie las compró y comimos frambuesas. Frambuesas. Infinitivo es comprar y comer. Hola. Hola. ¿Me escuchas? Hola. Hola. Hola. ¿Me escuchas?",
          "usage": {
            "type": "duration",
            "seconds": 645
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "feaf1dae-cf0b-4940-91f9-227b737d3148",
  "activeVersionId": "feaf1dae-cf0b-4940-91f9-227b737d3148",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-01-13T13:07:06.670Z",
      "createdAt": "2026-01-13T13:07:06.670Z",
      "role": "workflow:owner",
      "workflowId": "_sOqvjVnBk4Na4c1DPXos",
      "projectId": "S9MAW5q8Q1rswQcB"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-16T03:40:53.000Z",
    "createdAt": "2026-01-16T03:40:50.719Z",
    "versionId": "feaf1dae-cf0b-4940-91f9-227b737d3148",
    "workflowId": "_sOqvjVnBk4Na4c1DPXos",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "spanish_notes",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          96
        ],
        "id": "22c039b7-ce7c-4ae1-90d2-9f0156487868",
        "name": "Webhook",
        "webhookId": "de586e21-d97a-44db-a95c-542b5edec057"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Look at my audio transcript from my spanish class and generate flashcards for me to study. \nYou are a helpful assistant that helps me create \"words\" flashcards from this transcript. Please create flashcards in the following format: \n\n- Spanish word or phrase \n- English translation \n- Meaning or usage in a sentence\n\n-------\n\nMake sure you understand the context of the transcript to create relevant flashcards. \nExample:\nlista could mean \"list\" in English, but in the context of \"estar lista\" it means \"to be ready\". So you need to understand the context to create accurate flashcards.\n\n------\n\nExample transcript:\n\" Mi hermana se llama Sarah y yo, Luis. Nosotros vivimos en una casa grande. A Sarah le gusta leer libros y a mí me gusta jugar al fútbol. \"\n\nFlashcards:\n1. Spanish: hermana\n   English: sister\n   Usage: Mi hermana se llama Sarah. (My sister's name is Sarah.)\n\n2. Spanish: vivir\n   English: to live\n   Usage: Nosotros vivimos en una casa grande. (We live in a big house.)\n\n----------------------------------\n\nTranscript:\n\n {{ $json.transcript }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "You are a helpful assistant that helps create flashcards for studying Spanish vocabulary based on audio transcripts.\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          304,
          -336
        ],
        "id": "6ddb2689-f5fc-4c77-a322-f63a39408f2e",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5.2",
            "mode": "list",
            "cachedResultName": "gpt-5.2"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          304,
          -128
        ],
        "id": "6442bbc1-bdae-4543-9a21-a2f81e058a66",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "WnKpEAlRef7JXEVa",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          176,
          96
        ],
        "id": "a801ad9c-e200-4ad1-907b-ad60659f9db3",
        "name": "Transcribe a recording",
        "credentials": {
          "openAiApi": {
            "id": "WnKpEAlRef7JXEVa",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"output\": [{\n\t\"spanish\": \"familia\",\n    \"english\": \"family\",\n  \"usage\": \"Mi familia no es muy grande.(My family isn't very big.)\"\n  }]\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          448,
          -128
        ],
        "id": "a79ca5d6-b511-466f-8596-79e0eec4a8cb",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "be55e5c1-4ac0-4390-8d44-5c5c61bad509",
                "name": "transcript",
                "value": "Hola, Ana. ¿Cómo estás? Muy bien. ¿Y tú? Estoy muy bien de viernes, finalmente. ¿Finalmente? ¿Este viernes? Para mí, para ti, jueves. Para mí, mañana es trabajar en oficina. Trabajar en oficina. ¿A qué hora vas a trabajar? Durche? Durches? Durche? Durcho? Forgot the word. Levanto a las siete. 7 media. Salgo a las 8. ¿Y vuelves? ¿Vuelvo? ¿Vuelvo? Tal vez 6 o 7, 8 o 8. ¿Y el desayuno? ¿A qué hora? Desayuno a las once. o 10 en la oficina en la oficina sí sí pues para mí está bien hoy Solo era porque puse, I put too many classes today. I don't know why. But I... ¿Por qué no clase hoy? Porque hoy es special agendé too many clases muchas clases so I was at the end saturated saturada pero Yo no pude reschedular Sí, está bien I could reschedule another one's lessons So it's okay And in the morning, in my morning, it's more... Viernes, sábado y domingo. ¿No clase en domingo? No. Sí. Solo una mañana. sábado por la mañana, una clase, una clase, sí, y bueno, ¿qué planes tienes para el fin de semana?  Rishabh Saha / Ana Isabel Barreno - Reunión de 50 min @Hoy 9:30  4  \ffin de semana fin de semana que planes Deseo viajar a Perú. ¡Gracias! mañana, o sea, on the weekend, el fin de semana. So no research. ¿Cómo haces tu investigación antes de viajar? ¿Cómo haces? ¿Cómo haces tu investigación antes de viajar? Adiós. Adiós. ¿Cuándo es el mejor tiempo para visitar Perú? ¿Cuándo es el mejor tiempo para hacer senderismo? Hacer senderismo y cuál es mejor senderismo? ¿Dónde es mejor? ¿Dónde es mejor hacer senderismo? No, ¿qué es lo mejor? ¿Cuál? Es mejor senderismo en Perú, en Ajusco. Ajá, el mejor lugar. El mejor lugar, sí. Pero ya, that's it. Y también mi schedule de maestro. ¿Horario de maestro? ¿Qué significa? Mi maestro, Research Submission, mi maestro cual es... para mi proyectos, tesis, calls, weekly submissions, etc. Entonces, es un fin de semana para organización. Sí. Organización. Sí, de plan. Organización, Sí, sí, right? Sí. Sí. Perú. Sí, si es posible si es posible claro, es verdad ¿y tu calendario de vacaciones? ¿Cómo funciona tu calendario de vacaciones? ¿De vacaciones? ¿Cuándo tienes vacaciones? ¿Cuándo tienes? ¿Cuándo tienes vacaciones? Depende, después de mi investigación, yo sé. Yo entiendo. Entiendo, yo entiendo. Claro, pero ¿tú decides cuándo son tus vacaciones? ¿Decides? Sí, you decide cuándo son tus vacaciones. Sí. Yo decidar. Yo decidir. Ah, entiendo. Muy bien. Of course. Por supuesto. Bueno. Bien. pensé que tú tú la empresa dice cuando tienes vacaciones Cuando tienes vacaciones. Sí, dije que la compañía dice cuando tú tienes vacaciones. No, la compañía no. Compañino de sí, dices, es mi decisión. Wow, super. Bueno, sí. Por supuesto. Y hoy vamos a continuar practicando con el indefinido noción. Sí. Sí. Yo empecé noción. Finalmente. Now with the because el calendario es the notion donde we schedule our lessons Tiene la opción de add the notes with IA. It automatically notes. Si, Ida asked me if I wanted to start recording at the moment that the lessons start. Ahora tienes diferentes oraciones que necesitas completar. con el verbo en pretérito indefinido ¿Sí? ¿Este en tango? Ah, no Oh, pero podemos ponerlo  Rishabh Saha / Ana Isabel Barreno - Reunión de 50 min @Hoy 9:30  5  \fNo, está bien. Puedo responder. Podemos borrarlo, así que practicarás mejor. Así que he reducido mi resolución de mi cámara hoy. así que no laguea creo que también estaba a mi lado no, no, no, está a mi lado porque antes de unirse a la llamada Ah, me dejé la cámara encendida. A medida que la encendí, mi computadora empezó a bajar. Oh, entiendo. Es verdad. En mi caso, creo que también ayer, yo tenía un VPN activado todo el día. Abre muchas tabs en Google Chrome. Windows. Bien. 20? wow, pobre computadora Pobre. Pobre computadora. Estaba trabajando mucho. Sí, sí, sí. Sí, decidir fue. No computadora para después mi trabajar, entonces yo mirando un serie. dos episodios de serie. ¿Qué serie estás mirando? Se llama... Lentes, caballos, pero en inglés. Lentes? No, no, no, lentes. How do you say slow? Lento Lento Caballos Caballos Sí, slow horses. Wow, es como de suspenso. Sí, suspenso es trelar. ¿La recomiendas? No. ¿No? ¿Por qué? Es más o menos. Entiendo. Sí, pero vas a terminar esa serie. Sí. OK. Entiendo. En esta actividad, you have to close. Una es yo diciéndote el verbo o el verbo si no lo sabes y la otra es yo escribiendo la respuesta correcta. Ok, intentemos. Vamos a intentar. Blas de Lezo. Una persona. Oh, Blas de Lezo. ¡Ajá!  No. Edad es Hace no, I don't know. I will tell you in infinitive. Es nacer. ¿Primero escuchas? No, no lo he escuchado antes. Está bien, nacer, how do you type nacer? N-A-C-E-R. Sí, and how is it in the past? Blas de Lezo Naciste Naciste para tu ¿Nacimos Español? ¿Nacen? nació. Nació. Sí, con acento. Bueno, ¿cómo podemos una marca aquí? Ah, mira, aquí podemos dibujar. Creo que es muy grande, ¿no? Es muy grande. Nacio. Nacio, sí. Blast Lesser, born in 1000... no, no sé cómo se dice, 1689 creo. Now, ¿cuándo tú naciste? Richard. Yo nací en... ... ... ...  mil novecientos And then ninety-nine. Como es ninety-nine. Novecientos noventa y cinco. Sí, correcto. Sí. So, no un mil. No un mil. Mil. Just mil. Mil. For two thousand, dos mil. Dos mil. Sí. Pero para 1000, no lo  Rishabh Saha / Ana Isabel Barreno - Reunión de 50 min @Hoy 9:30  6  \fnecesitamos. Solo la leche. ¿Tú naciste cuándo? Yo nací... en dos mil soy millenial, ¿es millenial? Gen Z ¿Cómo es nuestra personalidad? ¿Divertido? A veces soy aburrida, también Sí, pero tú también pareces de 1998 Then, siguiente. Luis y Fátima todo la noche Sin parar. Toda la noche Without Parar. Without Stop. Hacen algo? Toda la noche? Lui y Fatima hablan toda la noche sin parar hablan es en presente presente como ellos en pasado ¿Hablen? ¿Hablen? No. Ellos hablaron. Vamos a ver, ellos hablaron. ¿Quieres la tabla? ¿Estás viendo desde la pared de combate o aquí en la pantalla? Ambos. Ambos. Ambos. Ambos. Vea la tabla en la pantalla y aquí podemos escribir Y Emily, el preterito indefinido en clase de español. Oh, aprender, apren... Oh, la tabla, la tabla. Aquí está. Aprender, aprendieron. Aprendieron, sí. So, right now, without spoilers, here's the table. Ok, let me just look at it once. Ok, once there is the O. Oh, pero todavía puedes usar el tablero, solo no el spoiler de lo que es el verbo detrás. Oh, ok, ok. No puedo verlo de todos modos. Can you move your cursor? Anoche tu muy tarde. Anoche... Anoche es last night. You were fui. Fui es fuíaste? Fuiste, fuiste, pero estamos en los verbos regulares. So that one is irregular. So it should be another one. ¿Hacer? También Hiciste muy tarde No tiene mucho sentido la oración Pero querían decir que se fue a dormir tarde. Oh, pensé que... Anoche dormiste. Dormir. Dormiste. Dormiste. Dormiste muy tarde ¿Dormiste muy tarde? ¿Ayer? Ayer un libro de Benito Pérez Calós. Ayer leer. Leo, pero li. Casi. Recuerda que es Lee, Lee, Lee. Leí. Leí. Sí, suena más fuerte en la i. Some more strong here. Lei. Lei. Muy bien.  Rishabh Saha / Ana Isabel Barreno - Reunión de 50 min @Hoy 9:30  7  \fsiguiente el otro día El otro día nosotros con nuestros padres por teléfono. El otro día nosotros hablamos. Exacto. Además, el viernes, mi novio y yo en una comida. comiando comiaron comieron y yo somos el viernes, mi novio y yo Ah, eso es, comimos. Comimos, exacto. comimos en un restaurante italiano el fin de semana semana pasado vosotros demasiada Bebisteis. Ahora sí la tabla. Vamos a compartir la pantalla de Canva. Ahora, la siguiente con Notabla. Notabla? No. Just if you need it. Yo en Alemania pasé seis años. Vivi. Vivi. Exacto. Vivi. Y con acento, también. Tu a la abuela ayer por la tarde. ¡Gracias por ver el vídeo! ¿Cuál opción es? ¿Ayer? ¿Qué es ayer? Yesterday. ¿O the late? Oh, in the evening. ¿Por la tarde? No. No, por la tarde. In the evening. Por la mañana, por la noche. In the morning, in the evening, in the night. por la noche ¿Quién es la abuela? ¿Abuela es la abuela? Sí Como tú y tu abuela ayer, ayer por la noche, por la noche. Aquí no menciona a yo. No, menciona. Dice, you, you and. You a la, a la, oh. Sí, they are asking if this person was a ¿Hiciste algo la abuela ayer comió? ¿Conoces? ¿Conoces? ¿Conoces? ¿Conoces? ¿Quieres hacer una reunión? ¿Sí? Sí pero, vemos, sí, podría ser, yes, es el verbo ver, ver Entonces, ¿cómo sería tú? ¿Viviste? ¿Viviste? Viviste es vivir. Ver. Vemos... Ver...  si termina en er vi vi vi no veri ¿Me veriste? para la segunda persona tú viste viste viste viste viste viste viste viste viste viste viste Viste es to see. Exacto. Sí, es correcto. Es asqueroso. la abuela, ayer en la tarde viste? viste, si, muy bien, viste Mi jefe me saluda. My boss sends me an email yesterday night, last por la noche. Sends me. Sends is. ¿Dar?  Rishabh Saha / Ana Isabel Barreno - Reunión de 50 min @Hoy 9:30  8  \fDar es give, ¿verdad? ¿Send es pasar? No, send puede ser enviar. enviar. Enviar. Si, enviar. ¿Ti habas activado subtítulos? I have not. Ah, pues vamos a copiar aquí, enviar Enviar, ok, vamos a enviarlo NVR es para enviar R, así que Mi Jefe envía a mí. Enví. Enví. It's for Joe. Bueno, no tan Joe, but él. He sent me. So, él. Conjugación for él, ella o usted. This conjugation for third person singular. ¿Enhuaste? Oh, enhuaste is second person. L O L O L N V R Enviar, enviar, envió, envió, sí, envió. en el ojo. ¿Dónde tiene acento? ¿Dónde tiene acento? O. O, exacto.  Vamos a poner el acento con... El dibujo, ¿no? Wow, you learned it. Sí, sí. Muy bien, pues perfecto. Enviar es to send. Ok. Mi familia Australia. Moved to Australia in 1970. Moved. Yeah, was it? But it's moved. How do you say moved?  I don't know. No sé. ¿Puede ser viajar? As you say. The phrase has a sense. Without verb. Ok. Viajar es mi familia. Viajar. Vivamos. Vivamos. Viajamos Yo es mi familia. Oh, so it's them. Them. Singular. ¿Singular? ¿Dem? ¿Singular? ¿How come? Mi familia, we are hereon, but you said it's singular. Sí. Weeho, weeho. Viajó. Viajó. Australia. Australia. Viajo. Mi familia y Rishav viajaron de Oh, sí. O mi familia y yo, nosotros viajamos a Australia. Viajamos. ¿Sí? Ok. Luego. Uf. Ellos. Just for practice. Sí. Ellos. Mucha. Turon en Navidad. Ellos comieron mucho. ¿Te acuerdas de qué es turrón? Es dulce. Sí, muy dulce. como almendras y frutos secos, almonds I found out one of my favorite desserts today. It's called as Sejama is frangipane. ¿Cómo se escribe? El vío? Ví en una café. ¿Puedes escribir el nombre? Frenchy Ben Let me type it down Sounds like French Es francés? Sí imágenes. ¡Wow! ¿Es de manzana? No, no, no. No sé, es... ¿almonds? Frangipane. Es una French Toast.  Rishabh Saha / Ana Isabel Barreno - Reunión de 50 min @Hoy 9:30  9  \fcrema dulce de almendras No, no, no, no, no, no. frangipane french toast ahh como tostada francesa tostada francesa tostada francesa es muy fácil de cocinar Es fácil de cocinar Tampoco Looking for an accurate photo to show me Let me see French Tiene almendras en él, pero... Lo encontraré y lo enviaré a ti. Necesito ver. Ahora soy fan de dulces. Y ahora soy fan de dulces. Es no mucho dulce, es poquito dulce. Poquito dulce. con café es mejor No, es más o menos. Café es más o menos, pero esta comida es mejor. Ah, postre. Postre. Dessert. Postre o dulce, también. Postre o dulce. Then the last one. Mi madre, su último cuadro en enero. The last, or the final, sangro, cuadro, cuadro is room, right? No, it's cama. No, es... Painting ¿Painting? Cuadro, por ejemplo, ¿cómo es? ¿Es esto? Ah, ok. Cuadro es painting Ok. Mi madre... sold sold her last painting in January. Bot. Poder ser bode. Poder ser bode. Poder ser paint. puede ser painted Comprar, el algoritmo comprar. Comprar es... Uf, again. So muy difficult. Comprío. Comprío. Comprío. That ends with R. That ends with IO, R, just ER and IR. IR. Sí. Compró. Compró. Mm-hmm. ¿Copro? Sí, correcto. Just to remember this table, I'm gonna die. No worries, you will survive. Vas a sobrevivir. You will survive. Just practicing each verb. Cada verbo también. Y muy buen trabajo. Ahora creo que necesitamos una práctica extra. A ver... Ok. lo que vamos a hacer es jugar el siguiente juego a ver... You're gonna tell me where to put... Which one do you want? ¿Quieres círculo o...? equis equis equis ok you go first tú has primero qué posición quieres uno uno? si vamos a poner aqui nacer nacer Nacer es birth. Sí, ¿cómo se conjuga nacer? En todas. En all of them. ¿Puedes repetir? ¿Cómo conjugas nacer? Nacer es naci Naci All of them? All of them, sí. Nací? Naciste? Sí. Nacemos? Nacimos. Nacimos. Nació. Nació. Ellos... Ellos es... Nacieron. Exacto. Muy bien. Nacieron. My brain hurts. Sí, no te preocupes. Ahora, mi turno, que va a ser un poquito más fácil, ¿no? Obviamente. Sí, aquí va más con la pregunta. El pasado fin de semana comí un  Rishabh Saha / Ana Isabel Barreno - Reunión de 50 min @Hoy 9:30  10  \fComí un bambao. ¿Bambao? Sí. Es un pan blanco. Es muy suave, muy suave, con carne adentro Ah, es similar un momo. Sí, es similar. Sí, me gusta. Time to time. A veces. Me gusta. A mí me gusta. Sí. ¿Listo? 1, 2, 3, 4, 5, 6, 7, 8. Ocho. ¿Dónde estás contando? Sí. Uno, dos, tres, cuatro, cinco, seis, siete, ocho. Aquí. Sí. ¿Cómo dices abajo? Abajo es... Abajo. Avajo. Avajo. Avajo. Escribir. Escribir. El otro día escribí. Escribí, escribí. Ajá, el otro día escribí. Escribí. Code. Código. Código. Sí. Para tu proyecto. Sí. What I showed you yesterday. Sí. Muy bien. Me gustó mucho tu proyecto. Sí, muchas gracias. Aprove, ahora mi turno. Vamos a poner aquí. Ayer por la tarde, visité... una cafetería nueva visita visite esta a como dos minutos caminando y tomé este café un momentito te voy a enseñar ¿Puedes verlo? porque puedo tomar muy rápido cuando es dulce el diseño es increíble sí, me gustó mucho y siempre te dan un vaso de té. Nice, simpático. Ahora es tu turno. Oh. ¿Tres? ¡Adiós! Ayer, Salir de Fiesto, left the party, left the party, go home party, go to party. Ayer salir es algo de fiesta. Estás en presente. Oh! Salir es salir. Salir. De fiesta. Ayer salí de fiesta. más habilidades, desarrollando más habilidades. Lo sabrás. Sólo recordando esa mesa me duele el cerebro, en realidad. Sí, es verdad. Ahora, ahí va el círculo, ¿no? Sí. Sí, aquí, definitivamente. No recuerdo. Ah, okay. It's a combination. Okay. En dos mil diecisiete viví en Perú. en las montañas. Oh, I wish. Ojalá. ¿Cómo dices I wish en español? Ojalá. ¿Recuerdas? Ojalá Ojalá es como la forma coloquial pero normalmente podría ser como Desearía Te salía, ok. Luego, ¿dónde quieres poner tu siguiente? Cuatro. Cuatro. There is no 1, 2, 3, 4, 5, 6 6, aquí Sí Bailar. Bailar es Bailé. El sábado bailé con mi amiga. Muy bien. ¿Todo esto? Desearía. Desearía. Desearía. Desearía. Sí. Hay clases de de bachata, salsa. Sí, sí, sí. Yo quiero, pero después mi maestro, después mi visitar un día después de noviembre después de noviembre estás muy es muy tu horario está como todo ocupado Sí. Sí, ya veo. Pues. Puedes empezar con eso también. La semana pasada hablé mucho español con mis estudiantes. Sí, es muy bien para mí hablar español. Prefiero esto. Es muy fácil para ti. Sí, es muy fácil, pero también mucho tiempo hablando inglés o hablando...  Rishabh Saha / Ana Isabel Barreno - Reunión de 50 min @Hoy 9:30  11  \fNo, inglés más que todo. Pero, dice aburrido. Sí. Inglés es aburrido. Yo agrí. ¿De acuerdo con esto? ¿De acuerdo? Agree es de acuerdo. De acuerdo. ¿Sabes? Todo lo que dices va a ir a esa noción y todo va a ser publicado. Espero que todo llegue a las palabras En los flashcards Si, yo lo dejé todo porque hasta ahora las notas han funcionado muy bien. Sí, sí. Veamos. ¿Por qué son más que lo que necesitamos? Es verdad. Es verdad. Viajar. Viaje. Les semana pasada viaje a... Japón Muy bien ¿Cómo sabes el nombre en español? ¿Japón? Sí Sí, muy bien La semana pasada viajé. Japón. Muy bien, sí, bravo, perfecto. ¿Tienes algún viaje? Pero no este año. Tal vez... Si mis amigos deciden, tal vez. entonces tal vez. Entiendo, sí. Mejor viajar en grupo por transporte, compañía Oh, viaja, viajo, viajo, viajo, viajo. Montreal en hebrew. Montreal. Montreal. ¿Es en Canadá? en Canadá, pero es pagar por la compañía La compañía paga Sí. ¿Y por qué vas a Monterreal? ¿Es como un curso o seminario? No. es como vacaciones entonces poquito vacaciones super ese durante Easter en abril, si, abril es en easter no? o easter es en abril, ah ok, creo, creo, porque es de... de bueno es un momentito 2026 semana santa Sí, es de 2 de abril, 3 de abril, 4 de abril y 5 de abril. Visitar en 26 de abril. Ah, ok, entonces no es en Easter. Pues, qué bueno. ¿En abril hace frío? Es poquito frío. Tal vez frío. ¿Pero has visitado esta ciudad? ¿Antes? ¿Antes? Sí Sí Muchos cosas Muchos ¿10 tiempos? muchas veces many times muchas veces pues en abril vas a tener un viaje muy bueno y por el momento buena suerte planeando tu bueno buscando para tu viaje para Perú Muchas gracias. De nada. Y disfruta tu fin de semana también. Y tú también. Sí, y voy a enviarte la tarea, por supuesto, para el fin de semana y nos vemos... Oh, no tenemos clases programadas Schedule classes, no tenemos ¿Lo tenemos? No ¿Quieres el mismo misma hora, same time? Sí, pero en ¿Jueves? ¿Miércoles? Miércoles. Miércoles es nieve y media. nueve y media nueve y media nueve y media let me see miércoles y jueves Por el momento solo tengo a las 10. Pero a veces la persona cancela la hora que quieres, así que te dejaré saber si es abierta. Probablemente sea como el 80% de probabilidad que se abrirá a las nueve y media. Pues, nos vemos. Nos vemos, Ana. Muchas gracias para hoy.  Rishabh Saha / Ana Isabel Barreno - Reunión de 50 min @Hoy 9:30  12  \fEnvías? No, no, envías, no, no, no. Upload it. Upload it. How do I say upload it? Ah, sí, the link. Dónde está el link? ",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          32,
          -336
        ],
        "id": "0e27f62a-883f-4450-b45b-0daea71ec5ff",
        "name": "Copy/Paste Transcript"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1i0N9SQZZqXv-xD_YRkfGTLr9s6lbjiyZqyem5nc8dMg",
            "mode": "list",
            "cachedResultName": "Spanish Vocabulary",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i0N9SQZZqXv-xD_YRkfGTLr9s6lbjiyZqyem5nc8dMg/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 950039728,
            "mode": "list",
            "cachedResultName": "Spanish Vocabulary - Vocabulary_CLEANED_GROUPED",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i0N9SQZZqXv-xD_YRkfGTLr9s6lbjiyZqyem5nc8dMg/edit#gid=950039728"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "group": "={{ $json.group }}",
              "difficulty": "={{ $json.difficulty }}",
              "difficulty_score": "={{ $json.difficulty_score }}",
              "spanish": "={{ $json.spanish }}",
              "english": "={{ $json.english }}",
              "usage": "={{ $json.usage }}",
              "learned": "0"
            },
            "matchingColumns": [
              "spanish"
            ],
            "schema": [
              {
                "id": "group",
                "displayName": "group",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "difficulty",
                "displayName": "difficulty",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "difficulty_score",
                "displayName": "difficulty_score",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "spanish",
                "displayName": "spanish",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "english",
                "displayName": "english",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "usage",
                "displayName": "usage",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "known",
                "displayName": "known",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "learned",
                "displayName": "learned",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1792,
          48
        ],
        "id": "b875bcc2-94ad-4641-8929-5eb26f39c024",
        "name": "Append or update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RAsnDxfXve6rzTvR",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "output",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1568,
          48
        ],
        "id": "360fe1ee-6934-4133-812a-d77c18ef7912",
        "name": "Split Out"
      },
      {
        "parameters": {
          "operation": "pdf",
          "binaryPropertyName": "Transcribe_pdf",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          160,
          624
        ],
        "id": "1d8423b7-f111-4450-8ce6-a0fedaee097a",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "formTitle": "File Upload",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Transcribe pdf",
                "fieldType": "file",
                "acceptFileTypes": ".pdf"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.5,
        "position": [
          -48,
          624
        ],
        "id": "655bb8e4-c65c-4a23-a501-0015ff789760",
        "name": "On form submission",
        "webhookId": "17a703a0-0d45-4903-82f0-129322f4a29d"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Look at my Spanish class notes from Notion. Notion was able to transcribe my spanish learning class and help me summarize it for me. You are a helpful assistant that helps me create \"words\" flashcards from my notes. Please create flashcards in the following format:\n\n- Spanish word or phrase \n- English translation \n- Meaning or usage in a sentence\n\n-------\n\nMake sure you understand the context of the notes to create relevant flashcards. \nExample:\nlista could mean \"list\" in English, but in the context of \"estar lista\" it means \"to be ready\". So you need to understand the context to create accurate flashcards.\nMake sure to only use spanish words or phrases that are in the notes provided.\n\n------\n\nExample notes:\n\" Mi hermana se llama Sarah y yo, Luis. Nosotros vivimos en una casa grande. A Sarah le gusta leer libros y a mí me gusta jugar al fútbol. \"\n\nFlashcards:\n1. Spanish: hermana\n   English: sister\n   Usage: Mi hermana se llama Sarah. (My sister's name is Sarah.)\n\n2. Spanish: vivir\n   English: to live\n   Usage: Nosotros vivimos en una casa grande. (We live in a big house.)\n\n----------------------------------\n\nNotes:\n{{ $json.text }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "You are a helpful assistant that helps create flashcards for studying Spanish vocabulary based on Notion Notes\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          336,
          624
        ],
        "id": "80c7970a-dc67-43a1-8289-0699340c4ab6",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5.1",
            "mode": "list",
            "cachedResultName": "gpt-5.1"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          336,
          848
        ],
        "id": "5550cf9b-8df0-467c-b68d-7a4a4a82e491",
        "name": "OpenAI Chat Model1",
        "retryOnFail": true,
        "maxTries": 2,
        "credentials": {
          "openAiApi": {
            "id": "WnKpEAlRef7JXEVa",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"output\": [{\n\t\"spanish\": \"familia\",\n    \"english\": \"family\",\n  \"usage\": \"Mi familia no es muy grande.(My family isn't very big.)\"\n  }]\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          480,
          848
        ],
        "id": "cf8a4b5e-3262-4b44-832c-68b929c84764",
        "name": "Structured Output Parser1"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "yYmaqYw2mLcEEmbm",
            "mode": "list",
            "cachedResultUrl": "/workflow/yYmaqYw2mLcEEmbm",
            "cachedResultName": "Telegram subworkflow message"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "text": "={{ $json.count_spanish }} New words have been added. Check them out at https://spanish-word-buddy.vercel.app/"
            },
            "matchingColumns": [
              "text"
            ],
            "schema": [
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2288,
          48
        ],
        "id": "0b216626-7978-4ef1-b6b1-4cbfa895a764",
        "name": "Inform me on Telegram"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Look at my audio transcript from my spanish class and generate flashcards for me to study. \nYou are a helpful assistant that helps me create \"words\" flashcards from this transcript. Please create flashcards in the following format: \n\n- Spanish word or phrase \n- English translation \n- Meaning or usage in a sentence\n\n-------\n\nMake sure you understand the context of the transcript to create relevant flashcards. \nExample:\nlista could mean \"list\" in English, but in the context of \"estar lista\" it means \"to be ready\". So you need to understand the context to create accurate flashcards.\n\n------\n\nExample transcript:\n\" Mi hermana se llama Sarah y yo, Luis. Nosotros vivimos en una casa grande. A Sarah le gusta leer libros y a mí me gusta jugar al fútbol. \"\n\nFlashcards:\n1. Spanish: hermana\n   English: sister\n   Usage: Mi hermana se llama Sarah. (My sister's name is Sarah.)\n\n2. Spanish: vivir\n   English: to live\n   Usage: Nosotros vivimos en una casa grande. (We live in a big house.)\n\n----------------------------------\n\nTranscript:\n\n {{ $json.text }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "You are a helpful assistant that helps create flashcards for studying Spanish vocabulary based on audio transcripts.\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          352,
          96
        ],
        "id": "c765d5a1-cc68-4bb2-b0a1-b1e42fd19f72",
        "name": "AI Agent2"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5-mini",
            "mode": "list",
            "cachedResultName": "gpt-5-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          352,
          304
        ],
        "id": "c07d5b0d-e14d-4858-a443-a061cb44362e",
        "name": "OpenAI Chat Model2",
        "credentials": {
          "openAiApi": {
            "id": "WnKpEAlRef7JXEVa",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"output\": [{\n\t\"spanish\": \"familia\",\n    \"english\": \"family\",\n  \"usage\": \"Mi familia no es muy grande.(My family isn't very big.)\"\n  }]\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          512,
          304
        ],
        "id": "d3d90d6d-dd9f-4c81-a50b-149c57624b19",
        "name": "Structured Output Parser2"
      },
      {
        "parameters": {
          "content": "## Upload Transcript\n** Copy paste the transcript you already have",
          "height": 416,
          "width": 736
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -96,
          -416
        ],
        "id": "71e8b47e-1e92-42e5-86bd-38b720e08c36",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Upload Audio File\n",
          "height": 400,
          "width": 736,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -96,
          32
        ],
        "id": "afce976c-e39a-4638-9214-47991f7692fd",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Upload Notion pdf\n** Mostly used by Ana",
          "height": 432,
          "width": 736,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -96,
          544
        ],
        "id": "40177dd3-99fe-4b65-98b4-f769e61c4ee1",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "field": "spanish"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          2048,
          48
        ],
        "id": "907d2508-341d-4def-a56e-83c8cf925cea",
        "name": "Summarize"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=We have a list of Spanish words and phrases with their English translations and usage examples. \nIt contains columns like: \nspanish: actual spanish word/phrase, \nenglish: definition of the spanish word/phrase, \nusage: usage of the spanish word in a sentence, \n\n\nClean and optimize this list automatically:\n\n1. Remove duplicates\n- Treat duplicates as same Spanish term after normalization (trim spaces, lowercase, ignore accents, ignore punctuation like ¿ ? ! . ,).\n- If duplicates exist, keep the best row using these rules:\n    - Prefer rows with longer/more complete usage\n    - Set known = TRUE if any duplicate has known = TRUE\n    - Set learned to the sum of duplicates’ learned values\n\n2. Remove very common words\nRemove entries whose Spanish term (after normalization) matches any of these (including accentless versions):\nhola, gracias, adios, por favor, buenos dias, buenas noches, lo siento, salud, de nada, si, no, amigo, amiga, familia, comida, agua, casa, escuela, trabajo, dinero, tiempo, día/dia, noche, hombre, mujer, niño, niña, perro, gato\n\n3. Keep English translations in usage\n- Do NOT remove parenthetical English translations from the usage field.\n\n4. Add learning structure\nCreate these new columns:\n- group (category) using keyword-based grouping based on spanish/english/usage (examples: Greetings & Politeness, Time & Dates, Work & Study, People & Family, Travel & Places, Feelings & Opinions, Goals & Motivation, General/Other)\n\n- difficulty_score (number) using a transparent heuristic (longer phrases, more words, grammar connectors like que/de/por/para/aunque/porque, accents, punctuation like ¿¡ increase score)\n\n- difficulty bucketed into Easy / Medium / Hard using score percentiles (bottom 33% Easy, middle 33% Medium, top 33% Hard)\n\n-------------\n\nInput: \n\n{{ JSON.stringify($json.output) }}\n\n--------------\n\noutput:\n[\n    {\n        \"spanish\": \"\",\n        \"english\": \"\",\n        \"usage\": \"\",\n        \"group\": \"\",\n        \"difficulty_score\": \"\",\n        \"difficulty\": \"\"\n    }\n]",
          "hasOutputParser": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          1232,
          48
        ],
        "id": "9d4887b9-dcf2-466a-b410-5de195287ba0",
        "name": "AI Agent3"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5.1",
            "mode": "list",
            "cachedResultName": "gpt-5.1"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          1200,
          256
        ],
        "id": "9db2efa0-98b3-4fc6-bfb2-b745e6801aac",
        "name": "OpenAI Chat Model3",
        "credentials": {
          "openAiApi": {
            "id": "WnKpEAlRef7JXEVa",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "[\n    {\n        \"spanish\": \"\",\n        \"english\": \"\",\n        \"usage\": \"\",\n        \"group\": \"\",\n        \"difficulty_score\": \"\",\n        \"difficulty\": \"\"\n    }\n]"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          1424,
          256
        ],
        "id": "0fe92b0f-bc43-4920-9054-beae55202bfe",
        "name": "Structured Output Parser3"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -160,
          -336
        ],
        "id": "9a5ad0a4-6c9a-4e26-a1ff-a2bd58fcf2bf",
        "name": "When clicking ‘Execute workflow’"
      }
    ],
    "connections": {
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Transcribe a recording",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe a recording": {
        "main": [
          [
            {
              "node": "AI Agent2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "AI Agent3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Copy/Paste Transcript": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Append or update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On form submission": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser1": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent1": {
        "main": [
          [
            {
              "node": "AI Agent3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append or update row in sheet": {
        "main": [
          [
            {
              "node": "Summarize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent2",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser2": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent2",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent2": {
        "main": [
          [
            {
              "node": "AI Agent3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Inform me on Telegram": {
        "main": [
          []
        ]
      },
      "Summarize": {
        "main": [
          [
            {
              "node": "Inform me on Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model3": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent3",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent3": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser3": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent3",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Copy/Paste Transcript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Rishabh Saha",
    "name": "Version feaf1dae",
    "description": "",
    "autosaved": false
  },
  "tags": []
}