Backup_2026-02-17/Github backup flow.json
{
  "updatedAt": "2026-01-17T13:09:44.312Z",
  "createdAt": "2026-01-17T12:45:38.702Z",
  "id": "5v2jP4Q0wAFbcgRH5WG8T",
  "name": "Github backup flow",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7d474748-199e-43b7-bc6e-5d64f67f7568",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "33e0dd09-5bfb-49e5-85fc-0a9a3fbf26df",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "35rAP5Ej6uKvWCWq",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b48d1e98-2d25-4cd6-bd02-50be5e92ee94",
              "name": "folder",
              "value": "=Backup_{{ $now.format('yyyy-MM-dd')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "5a003274-bd97-4cdb-b70b-e3f44ac83e9a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        0
      ],
      "id": "f3d4291e-bfcf-4d13-9a1c-05bb05efbe12",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d12d068-cbfa-421d-8d4e-338235ce76c4",
              "name": "nodes",
              "value": "={{  JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "d29bce96-5efd-47ad-87ee-c1810f5e46ce",
              "name": "filename",
              "value": "={{ $json.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        16
      ],
      "id": "fe8acde9-8a1e-4c45-b361-05676b0cf8ab",
      "name": "Prepare File Contents"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "nodes",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1152,
        16
      ],
      "id": "248046db-9f76-4fab-b5fd-8e200ea7a735",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Rishabh-Saha",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": "n8n-workflows",
          "cachedResultUrl": "https://github.com/Rishabh-Saha/n8n-workflows"
        },
        "filePath": "={{ $('Edit Fields').item.json.folder }}/{{ $('Prepare File Contents').item.json.filename }}",
        "binaryData": true,
        "commitMessage": "={{ $now.setZone(\"America/Toronto\").format(\"yyyy-MM-dd\") }} Backup completed"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1360,
        16
      ],
      "id": "b571c072-81f7-4936-8b0d-5378a8b18df3",
      "name": "Create a file",
      "webhookId": "a785c6f9-4768-4b58-a37c-100f2eae55fa",
      "credentials": {
        "githubApi": {
          "id": "iLcIoDPu4y5ac0cy",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yYmaqYw2mLcEEmbm",
          "mode": "list",
          "cachedResultUrl": "/workflow/yYmaqYw2mLcEEmbm",
          "cachedResultName": "Telegram subworkflow message"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "=Github backup failed: {{ $json.content.name }}"
          },
          "matchingColumns": [
            "text"
          ],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1616,
        112
      ],
      "id": "5752495b-1ae3-404d-bc82-b04c89aa3139",
      "name": "Call 'Telegram subworkflow message'"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Prepare File Contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Contents": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Telegram subworkflow message'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Telegram subworkflow message'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2809887a-ec83-4199-aa31-52acf55f9988",
  "activeVersionId": "2809887a-ec83-4199-aa31-52acf55f9988",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-17T12:45:38.705Z",
      "createdAt": "2026-01-17T12:45:38.705Z",
      "role": "workflow:owner",
      "workflowId": "5v2jP4Q0wAFbcgRH5WG8T",
      "projectId": "S9MAW5q8Q1rswQcB"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-17T13:10:05.000Z",
    "createdAt": "2026-01-17T13:09:44.313Z",
    "versionId": "2809887a-ec83-4199-aa31-52acf55f9988",
    "workflowId": "5v2jP4Q0wAFbcgRH5WG8T",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "daysInterval": 3
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "id": "7d474748-199e-43b7-bc6e-5d64f67f7568",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          416,
          0
        ],
        "id": "33e0dd09-5bfb-49e5-85fc-0a9a3fbf26df",
        "name": "Get many workflows",
        "credentials": {
          "n8nApi": {
            "id": "35rAP5Ej6uKvWCWq",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b48d1e98-2d25-4cd6-bd02-50be5e92ee94",
                "name": "folder",
                "value": "=Backup_{{ $now.format('yyyy-MM-dd')}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          0
        ],
        "id": "5a003274-bd97-4cdb-b70b-e3f44ac83e9a",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          640,
          0
        ],
        "id": "f3d4291e-bfcf-4d13-9a1c-05bb05efbe12",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6d12d068-cbfa-421d-8d4e-338235ce76c4",
                "name": "nodes",
                "value": "={{  JSON.stringify($json, null, 2) }}",
                "type": "string"
              },
              {
                "id": "d29bce96-5efd-47ad-87ee-c1810f5e46ce",
                "name": "filename",
                "value": "={{ $json.name }}.json",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          944,
          16
        ],
        "id": "fe8acde9-8a1e-4c45-b361-05676b0cf8ab",
        "name": "Prepare File Contents"
      },
      {
        "parameters": {
          "operation": "toText",
          "sourceProperty": "nodes",
          "options": {}
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          1152,
          16
        ],
        "id": "248046db-9f76-4fab-b5fd-8e200ea7a735",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "Rishabh-Saha",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-workflows",
            "mode": "list",
            "cachedResultName": "n8n-workflows",
            "cachedResultUrl": "https://github.com/Rishabh-Saha/n8n-workflows"
          },
          "filePath": "={{ $('Edit Fields').item.json.folder }}/{{ $('Prepare File Contents').item.json.filename }}",
          "binaryData": true,
          "commitMessage": "={{ $now.setZone(\"America/Toronto\").format(\"yyyy-MM-dd\") }} Backup completed"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          1360,
          16
        ],
        "id": "b571c072-81f7-4936-8b0d-5378a8b18df3",
        "name": "Create a file",
        "webhookId": "a785c6f9-4768-4b58-a37c-100f2eae55fa",
        "credentials": {
          "githubApi": {
            "id": "iLcIoDPu4y5ac0cy",
            "name": "GitHub account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "yYmaqYw2mLcEEmbm",
            "mode": "list",
            "cachedResultUrl": "/workflow/yYmaqYw2mLcEEmbm",
            "cachedResultName": "Telegram subworkflow message"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "text": "=Github backup failed: {{ $json.content.name }}"
            },
            "matchingColumns": [
              "text"
            ],
            "schema": [
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1616,
          112
        ],
        "id": "5752495b-1ae3-404d-bc82-b04c89aa3139",
        "name": "Call 'Telegram subworkflow message'"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Prepare File Contents",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare File Contents": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "Create a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a file": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'Telegram subworkflow message'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Telegram subworkflow message'": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Rishabh Saha",
    "name": "Version 2809887a",
    "description": "",
    "autosaved": false
  },
  "tags": []
}